@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
} */

:root {
  /*  Primary */
  --primary-normal: #14a4eb;
  --primary-hover: #1294d4;
  --primary-active: #1083bc;

  /*Light Variants */
  --primary-light: #e8f6fd;
  --primary-light-hover: #dcf1fc;
  --primary-light-active: #b6e3f9;

  /* Dark Variants */
  --primary-dark: #0f7bb0;
  --primary-dark-hover: #0c628d;
  --primary-dark-active: #094a6a;
  --primary-darker: #073952;
}
